<div class="card-body">
    <h5 class="card-title">Incoming Workload</h5>
    <!--<label>Incoming Workload</label>-->
    <hr/>

    <canvas baseChart
            [datasets]="mixedChartData"
            [options]="mixedChartOptions"
            [colors]="mixedChartColors"
            [legend]="mixedChartLegend"
            [chartType]="mixedChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
</div>
<div class="card-footer">
    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
</div>

<!--
[datasets]="mixedChartData"
[labels]="mixedChartLabels"
[options]="mixedChartOptions"
[legend]="mixedChartLegend"
[chartType]="mixedChartType"
(chartHover)="chartHovered($event)"
(chartClick)="chartClicked($event)"
-->
