
<div class="card-header">
    Bar Chart
</div>
<div class="card-body" *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
<!--    <canvas baseChart
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="barChartColors"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>-->
</div>
<div class="card-footer">
    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
</div>
