
<div class="card-body">
    <h5 class="card-title">Incoming Workload</h5>
    <hr/>
    <canvas baseChart
            [chartType]="chartType"
            [datasets]="chartData"
            [options]="chartOptions"
            [legend]="chartLegend"
            [colors]="chartColors">
    </canvas>

<!--    <canvas *ngIf="chartData && chartData[0].data && chartData[0].data.length > 0"
            baseChart
            [chartType]="chartType"
            [datasets]="chartData"
            [options]="chartOptions"
            [legend]="chartLegend"
            [colors]="chartColors">
    </canvas>-->

</div>
